<div class="ui segment">
  <h3 class="ui right aligned header">
  </h3>
  <h3 class="ui center aligned header">

      <% if user_signed_in? %>
        <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to 'ログイン', new_user_session_path %>
      <% end %>
  </h3>
</div>



